<table id="example2" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>No.</th>
    <th>Nama Game</th>
    <th>kategori</th>
    <th>Nominals</th>
    <th>Thumbnail</th>
    <th>Aksi</th>
  </tr>
  </thead>
  <tbody>
    <% vouchers.forEach((voucher, i) => { %>
      <%= console.log(voucher) %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= voucher.nameGame %></td>
        <td><%= voucher.category.nama %></td>
        <td><%voucher.nominals.forEach(nominal => { %>
          <span class="badge badge-warning">
             <%= nominal.coinName %> <%= nominal.coinQuantity %>
          </span>
        <% })%></td>
        <td><img src="/uploads/<%= voucher.thumbnail %>" class="thumbnail"></td>
        <td class="d-flex">
          <a href="/voucher/edit/<%=voucher._id %>" class="btn-warning btn mr-3">Edit</a>
          <a href="/voucher/delete/<%=voucher._id %>" class="btn-danger btn">Delete</a>
        </td>
      </tr>
    <%}) %>
  </tbody>
</table>
